/* Style for the "Sign in with Google" button */
.sign-in {
    background-color: #4285F4; /* Google Blue */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .sign-in:hover {
    background-color: #357ABD; /* Slightly darker blue on hover */
  }
  
  /* Style for the "Sign Out" button */
  .sign-out {
    background-color: #D32F2F; /* Red */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .sign-out:hover {
    background-color: #B71C1C; /* Slightly darker red on hover */
  }
  